body{
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: auto;
}
button:focus {outline:0;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
  font-family: 'Roboto';
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  font-family: 'Roboto';
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {margin: 0 auto}
hr{margin-top: 0}
.line-two {margin: 80px 40px 0;}
.navbar{
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  margin: 0;
  border-bottom: 0;
  border-radius: 0;
}

.logo{
  width: 210px;
  padding:0px 30px;
  text-align: left;
}
.logo .main{
  display: block;
  color: #4D4D4D;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-top: 6px;
}
.logo .slogan{
  display: block;
  color: #999999;
  font: 500 12px 'Roboto';
  line-height: 14px;
}
.container .nav .nav-item {
  margin: 0 30px; float: none; display: inline-block;
}

.container .nav .nav-item>a,
.container .nav .nav-item>a:hover,
.container .nav .nav-item>a:active,
.container .nav .nav-item>a:focus{
  border: none;
  line-height: 51px !important;
}

.container .nav .nav-item.active>a,
.container .nav .nav-item.active>a:active,
.container .nav .nav-item.active>a:focus{
  border-bottom: 1.68px solid #1875F0 !important;
  background-color: transparent !important
}

.navbar .navbar-nav li a {
  color: #999;
  font: 400 16px/30px 'Roboto';
  line-height: 80px;
  padding: 0;
}

.navbar .navbar-nav .header-dropdown a {
  padding: 0 20px;
}

.navbar .navbar-nav .header-dropdown li.active a {
  background-color: white;

}

.navbar .navbar-nav .header-dropdown.open ul {
  padding: 5px 10px;
}

.navbar .navbar-nav .header-dropdown.open li a {
  color: #999;
  font: 300 14px/26px 'Roboto';
  line-height: 25px;
  padding: 0 5px;
}

.header-dropdown-container {
  width: 700px;
}

.how-it-work {
  margin-right: 30px;
}

#head_politician{
  background-position: 60% center;
  background-size:cover;
  height: auto;
  min-height: 512px;
  width: 100%;
}


.margin_abajo_mini{ margin-bottom: 6px;  }
.margin_abajo_small{ margin-bottom: 16px;  }
.margin_abajo_medium{ margin-bottom: 22px !important;}
.margin_abajo_big{ margin-bottom: 30px;  }
.margin_abajo_tobig{ margin-bottom: 50px;  }
.margin_abajo_toobig{ margin-bottom: 70px;  }

.marg_top_small {margin-top: 10px;}
.marg_top_medium {margin-top: 16px;}
.marg_top_large {margin-top: 25px;}

.container_text_banner{
  padding: 20px 0;
  width: 100%;
}

.container_text_banner .avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-right: 18px;
  overflow: hidden;
}

.container_text_banner .avatar-image img {
  width: 100%;
  height: 100%;
}

.cabecera_1_banner{
  color: #FAFAFA;
  font: 500 0.9em/30px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.cabecera_2_banner{
  color: #FAFAFA;
  font: 400 2.6em/36px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.cabecera_3_banner {
  color: #FAFAFA;
  font: 400 19px/25px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.line_banner{
  box-sizing: border-box;
  height: 3px;
  width: 100%;
  border: 1px solid #FFFFFF;
  opacity: 0.15;
}

.politician-bio-and-job {
  opacity: 0.9;
  color: #FAFAFA;
  font: 300 15px/21px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.politician-bio-and-job .nav.nav-tabs {
  margin-bottom: 20px;
  font: 500 14px/16px 'Roboto';
  border-bottom: 1px solid #CCCCCC;
}
.politician-bio-and-job .nav.nav-tabs li {
  border: none;
}
.politician-bio-and-job .nav.nav-tabs li.active {
  border-bottom: 2px solid #FFFFFF;
}

.politician-bio-and-job .nav.nav-tabs li a {
  color: #CCCCCC;
}

.politician-bio-and-job .nav.nav-tabs li a:hover {
  background: none;
  border: none;
}

.politician-bio-and-job .nav.nav-tabs li.active a {
  color: #FFFFFF;
  border: none;
  background: none;
}
.text_big_porcentan{
  color: #FAFAFA;
  font: 700 24px/28px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  display: inline-block;
  float: left;
}

.text_percent{
  color: #FAFAFA;
  font: 500 14px/16px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  display: inline-block;
  margin-bottom: 7px;
  margin-left: 15px;
  background: transparent;border:none;
}
.dropdown-menu{
  padding: 30px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05);
}

.blended-approval-rat {
  color: #999999;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.blended-approval-rat:hover{ background: none;  }
.blended-approval-rat::first-of-type{ margin-bottom: 28px;  }
.ancho_progress{
  height: 6.79px;
  width: 243px;
  border-radius: 4px;
  background-color: rgba(240,240,240,0.3);
}

.progress-bar{
  border-radius: 4px;
  background-color: #D82B22;
}

.emotion-icons {
  margin: 25px 0 20px;
  width: 246px;
}

.emotion-icons .fa-thumbs-up, .emotion-icons .fa-thumbs-down {
  color: white;
  line-height: 1.5;
}

.emotion-icons .box {
  float: left;
  margin-left: 10px;
}

.emotion-icons .box span {
  color: #FAFAFA;
  font: 300 13px/15px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  display: block;
}

.emotion-icons .box span.votes {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.poll_btn_circle {
  border: 2px solid #FFFFFF;
  border-radius: 31px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #ffffff !important;
  padding: 0.5rem 2.5rem;
  width: 246px;
  height: 59px;
}

a.poll_btn_circle {
  display: block;
  margin-right: 0.8rem;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  box-shadow: 0 0 0 transparent inset;
  transition: box-shadow .5s;
}

a.poll_btn_circle:hover{
  background:transparent;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 2px 20px 8px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.4) inset;
}

a.poll_btn_circle.active{
  border: 2px solid #ffffff;
  border-radius: 31px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

a.poll_btn_circle.rated-approved{
  background: #6dd867;
  border: 2px solid #6dd867;
  -webkit-box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
  box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
}

a.poll_btn_circle.rated-disapproved{
  background:#D82B22;
  border: 2px solid #D82B22;
  -webkit-box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
  box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
}

.btn_circle {
  border: 2px solid #FFFFFF;
  border-radius: 31px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #ffffff !important;
  padding: 0.5rem 2.5rem !important;
}

.btn_circle.active{
  border: 2px solid #D82B22;
  border-radius: 31px;
  background-color: #D82B22;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

a.btn_circle i {
  float: left;
  display: block;
  margin-right: 0.8rem;
  font-size: 22px;padding-top: 8px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

a.btn_circle .box {
  float: left;
}

a.btn_circle span{
  color: #FAFAFA;
  font: 300 13px/15px 'Roboto';
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  display: block;
}
a.btn_circle span.votes {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

a.btn_circle.approve, a.btn_circle.disapprove {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow .5s;
}

a.btn_circle.approve:hover{
  background:transparent;
  border: 2px solid #6dd867;
  -webkit-box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
  box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
}

a.btn_circle.disapprove:hover{
  background:transparent;
  border: 2px solid #D82B22;
  -webkit-box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
  box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
}

a.btn_circle.approve.voted-approve{
  background: #6dd867;
  border: 2px solid #6dd867;
  -webkit-box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
  box-shadow: 0 2px 20px 8px rgba(56, 216, 59, 0.4);
}

a.btn_circle.disapprove.voted-disapprove{
  background:#D82B22;
  border: 2px solid #D82B22;
  -webkit-box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
  -moz-box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
  box-shadow: 0 2px 20px 8px rgba(216,43,34,0.4);
}

a.btn_circle.approve.voted-disapprove, a.btn_circle.disapprove.voted-approve {
  background: transparent;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.action-icons {
  margin-top: 10px;
}

.action-icons {
  margin: 10px 0;
  font-size: 22px;
}

.action-icons .fa-thumbs-o-up, .action-icons .fa-thumbs-o-down {
  color: #646464;
}

.action-icons a {
  color: #646464;
  text-decoration: none;
}

.action-icons a:hover {
  color: #646464;
  text-decoration: none;
}

.action-icons .votes-approve.reacted-up:before {
  color: #4cae4c;
}

.action-icons .votes-approve:before {
  content: "\f087";
  font-family: FontAwesome;
  padding-right: 10px;
}

.action-icons .votes-disapprove.reacted-down:before {
  color:#D82B22;
}

.action-icons .votes-disapprove:before {
  content: "\f088";
  font-family: FontAwesome;
  padding-right: 10px;
}

.action-icons .box span.votes {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  /*text-align: left;*/
}

.list-group-item{
  border: none;
}

.modal_btn{
  color: #606060 !important;
  /*margin: 0 10px;*/
  border: 2px solid #606060;
  padding: 1rem 4rem;
}

.modal_btn i {
  text-shadow: none;
}

a.modal_btn span {
  text-shadow: none;
  color: #606060;
}

.modal button.close {
  position: relative;
  z-index: 2;
}

.share-your-opinion-b {
  width: 246px;
  text-align: center;
  color: #FAFAFA;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  text-shadow: 0 0 0 black;
  margin-top: 5px;
  margin-bottom: 20px;
}

.placeholder {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  padding-top: 1rem;
  margin-bottom: 100px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border: none;
  color: #666;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border: none;
}
.nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link.active:hover{
  border: none;
}
.border_gris{
  border-bottom:1px solid rgba(0,0,0,.1)
}

.border_gris div.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}
.border_gris .nav-tabs{
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 30px;
  min-height: 73px
}
a.link_second_menu{
  color: #999;
  padding: 28px 5px;
  font-size: 14px !important;
  line-height: 51px !important;
  border-bottom: 1.68px solid #F5F5F5;
  text-decoration: none;
}
#politician-detail .nav-item {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}
#politician-detail .nav-item a {
  color: #999999;
}

#politician-detail .nav-item.active {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}
#politician-detail .nav-item.active a {
  color: #666666;
}

a.link_second_menu.active, a.link_second_menu:hover a.link_second_menu:focus {
  border: 0;
  border-bottom: 1.68px solid #1875F0 !important;
  background-color: transparent !important
}

.del_top{ margin-top: 0px; height: 1.68px; background-color: #F5F5F5; width: 100%;}

.titulo_content{color: #666666;
  font: 500 24px/50px 'Roboto'; margin-bottom: 20px;
}

.go-gov-go-reviews-are {
  width: 100%;
  max-width: 583.28px;
  color: #666666;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title-approve-disapprove .col-sm-6 > * {
  padding: 0 50px;
}

.color_approve{color: #2FA543}
.color_disapprove{color: #D92D24}
.content_title{
  height: 28px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
.content_title{
  height: 28px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
.content_title_2{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}
.content_title_2_sub {
  color: #666666;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.content_title_2_ciudad {
  color: #999999;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.content_title_2_text{
  color: #666666;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}

.content_text {
  color: #666666;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.btn-tags{
  border-radius: 4px;
  background-color: #999999;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 8px 6px 8px 0;
}
.btn-tags:active, .btn-tags:focus, .btn-tags:hover {
  color: #ffffff;
  text-decoration: none;
}

.review-approve {
  padding-right: 0;
}

.review-disapprove {
  padding-left: 0;
  border-right: none;
}
.contenedor_articulos {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.contenedor_articulos .row .divisor {
  padding: 20px 40px;
  border-bottom: 1px solid #efefef;
}
.contenedor_articulos .row .divisor:last-of-type{
  border-bottom: none;
}

.contenedor_articulos .row .review-disapprove .divisor:first-of-type{
  border-right: none;
  /*border-left: 1px solid #e3e3e3;*/
}

.border-top-1 {
  border-top: 1px solid #e3e3e3;
}

.read-more {
  color: #1875F0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
}

.btn-see-more{
  height: 50px;
  width: 195px;
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 56px;
  margin-top: 30px;
  color: #808080;
  text-transform: uppercase;
  font: 700 12px/12px 'Roboto';
  letter-spacing: 1px;
}
.btn-see-more:hover{background-color: #eee;}
.btn-see-more-primary{
  height: 50px;
  width: 195px;
  border-radius: 4px;
  margin-bottom: 56px;
  margin-top: 30px;
  text-transform: uppercase;
  font:900 12px/12px 'Roboto';
  letter-spacing: 1px;
}

a.hover_black{
  display: block;
  position: relative;
  margin-bottom: 30px
}

.hover-black-info{
  position: absolute;
  background: transparent;
  color: #ffffff;
  text-align: left;
  font: 400 18px/70px 'Roboto';
  bottom: 10px;
  left: 20px;
  right: 0;
  line-height: 20px;
}
.hover-black-info-small {
  font-size: 70%;
  display: block;
}
.oculto{ display: none;}

.contenedor_suggest{ padding: 50px;}
.suggest_title {
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.suggest_enlace{
  color: #1875F0;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
}

footer{
  min-height: 75px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

footer .logo_header{
  color: #4D4D4D;
  font: 900 22px/75px 'Roboto';
  letter-spacing: 1px;
  margin: 0;
}
footer .list-inline {margin: 0}
footer .list-inline-item:not(:last-child) {margin-right: 70px}
footer .list-inline-item {padding: 0}
footer .list-inline-item a{
  color: #666666;
  font: 500 16px/75px 'Roboto';
}
footer .list-inline-item a:hover {text-decoration: none}



/* ================================Modales================================== */
.modal-header{border-bottom: none}
.modal-footer{border-top:none}
.texto_modales{
  color: #666666;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.texto_modales_rg{
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.texto_modales_center{
  color: #666666;
  font-family: Roboto;
  font-size: 22px;
  padding: 10px 50px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.content_circle_blue{
  height: 162px;
  width: 162px;
  background: linear-gradient(90deg, #09499D 0%, #0B5AC3 100%);
  display: table;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 50%;
}
.content_circle_blue a{
  vertical-align: middle;
  display: table-cell;
}
.content_circle_blue img{
  display: block;
  height: auto;
  width: 40%;
  margin: 0 auto;
  padding-left: 5%;
}

.modal_text_small {
  font-size: 14px;
  color: #999999;
}


#Modal_open_how_works .modal-footer{
  background-color: #09499D;
}

#Modal_open_how_works .modal-footer .go-gov-go {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 35px;
  float: left;
}

#Modal_open_how_works .modal-footer .government-simplifi {
  color: #CCCCCC;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;float: left;
  margin-top: 10px;
  margin-left: 10px;
}
#Modal_open_submitreview  .btn_circle:first-of-type{ margin-right: 5px;  }
#Modal_open_submitreview  .btn_circle:last-of-type{ margin-left: 5px;  }
#Modal_open_submitreview  .btn_circle{
  color: #666666;
  border-color: #666666;
}
#Modal_open_submitreview  .btn_circle span,#Modal_open_submitreview  .btn_circle i{
  color: #666666;
}


#Modal_open_modal3 .label {
  color: #666666;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
#Modal_open_modal3 input{
  color: #999999;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.text-muted {
  color: #999999 !important;
  font: 300 13px/20px 'Roboto';
}

.modal-content input {
  color: #999;
  font: 500 14px/14px 'Roboto';
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  padding: 24px 14px;
  box-shadow: none;
}

.modal-content .input-group-btn button {
  background-color: #09499D;
  color: #fff;
  border: 1px solid #555;
  padding: 15px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  font-family: 'Roboto';
}
.modal-content .btn-full {width: 100%}
.modal-content {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.07);
}

.modal-header {padding: 0 8px 7px}
.modal-header .close {
  margin: 5px 0 5px;
  font-weight: 900
}

.modal-content .form-group>.react-tagsinput--focused {
  border: 1px solid #adadad;
}
.modal-content input.react-tagsinput-input {
  width: 120px;
  height: 34px;
  border: 2px solid #adadad;
}

.modal-content .react-tagsinput-tag {
  background-color: #d8dad4;
  border: 1px solid #adadad;
  color: #333;
}

.modal-content a.react-tagsinput-remove{
  color: #333333;
}

/* How it works modal */
#hiw-modal .modal-content {
  padding: 10px 0 0;
}

#hiw-modal .modal-header {
  position: absolute;
  top: 10px;
  right: 10px;
}

#hiw-modal .margin_abajo_medium {
  padding: 0 20px;
}

/* Modal 4 */
.published {padding: 100px 0 130px}
.circle {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  color: white;
  vertical-align: middle;
  font-size: 75px;
}
.centered {margin: 0 auto}
.blue {
  background-color: #09499D;
  margin-top: 30px;
}
.your-review-has-been {
  color: #666666;
  font: 500 18px/22px Roboto;
  text-align: center;
  padding-top: 34px;
  margin-bottom: 20px;
}

/* More Info Modal */
.info {padding-bottom: 20px}
.thumbnails {margin-bottom: 20px}
.title {margin-bottom: 17px}
.title h6 {
  color: #808080;
  font: 500 13px/13px Roboto;
  margin: 0;
}
.title h3 {
  color: #666666;
  font: 500 22px/40px Roboto;
  text-transform: capitalize;
  margin: 0;
}

.info .nav {
  width: 380px;
  margin: 0 auto;
}
.info .nav .nav-item {width: 39%}

.info .nav .nav-item:first-child > .nav-link.active {
  border-radius: 4px 0 0 4px;
}

.info .nav .nav-item:last-child > .nav-link.active {
  border-radius: 0 4px 4px 0;
}
.info .nav .nav-item.active > a, .info .nav .nav-item.active > a:focus,
.info .nav .nav-item.active > a:hover {
  border: 2px solid #1875F0;
  background-color: #1875F0;
  color: white
}
.info .nav .nav-item:first-child > .nav-link {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

.info .nav .nav-item:last-child > .nav-link {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}
.info .nav .nav-link {
  color: #999;
  border: 2px solid #999999;
  font: 900 12px/40px 'Roboto';
  text-transform: uppercase;
  letter-spacing: 1px;
}
.info .nav .nav-link:hover {
  background-color: transparent;
}
@media only screen and (max-width: 380px) {
  .info .nav {
    width: 100%;
  }
}
.content-tab {margin-top: 30px}
.content-tab p {
  opacity: 0.9;
  color: #999999;
  font: 400 15px/21px Roboto;
}
.content-tab p strong {
  color: #666666;
  font-weight: 700;
}

.content-tab li p span {
  color: #666666;
  opacity: 1;
}

/* Suggest Modal */
.suggest {padding-bottom: 10px}
.suggest .title {margin-bottom: 50px;}
.title h2 {
  color: #666666;
  font: 500 22px/32px Roboto;
  margin-bottom: 10px;
}
.title p {
  color: #999999;
  font: 500 15px/20px Roboto;
  margin-bottom: 0;
}
.modal-content form {padding: 0 30px;}
.suggest form .form-group {margin-bottom: 40px}
.modal-content form textarea {
  color: #CCCCCC;
  font: 300 14px/30px Roboto;
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  resize:none;
  box-shadow: none;
}
.btn-modal {
  font: 900 12px/14px Roboto;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 20px;
  cursor: pointer;
}
.btn-primary {
  border-radius: 4px;
  background-color: #09499D;
  box-shadow: none;
  border-color: #09499D;
}
.modal-content .btn-link {
  color: #b3b3b3;
  margin-right: 30px;
  border: 2px solid #666666;
  border-radius: 4px;
}
.modal-content .btn-link:focus, .modal-content .btn-link:hover {text-decoration: none}
.tiulo_nav{
  padding: 15px 0px;
}
.no_padding{ padding: 0px;  }
.divisor{
  /*border-top:2.02px solid #F5F5F5; */
  margin-bottom: 0.2rem;
}

.margin_abajo_big.form-group>textarea{
  height: 160px;
}

#Modal_open_menucopy .first a {
  padding-left: 5px
}
#Modal_open_menucopy .col-md-2 .nav {
  padding-top: 6px
}

#Modal_open_menucopy .nav{
  color: #1875F0;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
#Modal_open_menucopy .nav-link{
  color: #999999;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  display: block;
}
/* Captcha */
.recaptcha > div>div{
  width: auto !important;
}

.recaptcha .grecaptcha-badge {
  position: static !important;
  box-shadow: none !important;
}

/*  */
select.location-selector {
  margin-bottom: 10px;
  color: #777;
  height: 40px;
}

.btn-default, .btn-primary {
  font-weight: 700;
}

/* tag input css */

.react-tags__selected {
  margin: 10px 0 20px;
  text-align: center;
}

.reason-tags, .react-tags__selected .react-tags__selected-tag {
  background-color: #868686;
  color: #fff;
  margin: 2px;
  height: 28px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 12px;
}

.react-tags__selected .react-tags__selected-tag:after{
  content: "\f00d";
  font-family: FontAwesome;
  font-weight: 300;
  margin-left: 4px;
}

.react-tags__search-input input {
  width: 100% !important;
  height: 52px;
  color: #444;
  font-weight: 400;
  border: 2px solid #999;
}
.react-tags__suggestions {

  width: 95% !important;
  background-color: #ffffff;
  position: absolute;
  /*top: 100%;*/
  border: 1px solid #555555;
  z-index: 100
}

.react-tags__suggestions ul {
  font-weight: 400;
  color: #868686;
  list-style: none;
  padding: 0 .5em;
}

.react-tags__suggestions ul li {
  margin: 10px;
}
/* end tag input css */


/* Responsive  */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #head_politician{
    background-position: 60% center;
  }
  .modal-content form {padding: 0}
  footer .list-inline-item:not(:last-child) {margin-right: 50px}

}

@media only screen and (max-width: 767px) {
  .info .nav {font-size: 0;}
  .info .nav .nav-item {display: inline-block; margin:0; width: 50%;}
  footer .logo_header{
    text-align: center;
    width: 100%;
  }
  footer .list-inline-item:not(:last-child) {margin-right: 50px}
  footer .col-xs-12 .row {text-align: center !important;}
  .piter_footer,.item_footer {
    float: none; text-align: center; width: 100%; margin: 0;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .del_top{ display: none;  }

  a.link_second_menu{ display: block;  }

  .btn-see-more,.btn-see-more-primary{
    margin: 25px auto 40px;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
  }
  .btn_circle{
    padding: 0.5rem 1.5rem;
  }
  #head_politician{
    background-position: 62% center;
  }
  .container .nav .nav-item {margin: 0 }
  .container .nav .nav-item a {
    font-size: 14px !important;
    padding: 10px 6px; margin-right: 0
  }
  .logo_header{
    padding: 0 25px;
  }
  .modal-content form {padding: 0}
}

.navbar {
  height: 80px;
}

.navbar .navbar-toggle {
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {

  .navbar {
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
    margin: 0;
    border-bottom: 0;
    border-radius: 0;
  }

  .navbar-collapse.collapse.in {
    padding-bottom: 0;
  }

  .navbar .navbar-nav li a {
    color: #999;
    font: 400 16px/30px 'Roboto';
    padding: 0;
  }

  .how-it-work {
    padding: 0 20px;
  }

  .info .nav .nav-link {
    font-size: 10px;
  }

  footer .list-inline-item {
    margin: 0 10px !important;
  }

  footer .list-inline-item a {
    line-height: 40px; font-size: 14px;
  }

  .logo {
    width: 210px;
    padding: 0 10px;
    text-align: left;
  }

  .content_circle_blue {
    height: 100px; width: 100px
  }

  #politician-detail img {
    width: 200px;
  }

}

@media only screen and (max-width: 320px) {
  .main-menu .navbar-brand .main {
    font-size: 12px;
  }
  .main-menu .navbar-brand .logo {
    width: auto;
  }
}

@media only screen and (max-width: 420px) {

  .info .nav {
    width: 100%;
  }
  footer .list-inline-item {
    margin: 0 5px !important;
  }

  #politician-detail img {
    width: 180px;
  }
}

@media only screen and (max-width: 380px) {

  .info .nav .nav-link {
    font-size: 11px;
  }
  footer .list-inline-item a {
    font-size: 12px;
  }
  #Modal_open_how_works .modal-footer .go-gov-go {margin-left: -15px; float: none;}
  #Modal_open_how_works .modal-footer .government-simplifi {margin-left: -15px; float: none;}

  a.hover_black{
    display: block;
    position: relative;
    margin-bottom: 10px
  }
}

@media only screen and (max-width: 340px) {

  #politician-detail-bio-and-job-pane-1 {
    text-shadow: 0 1px 2px #000000;
  }

  #politician-detail img {
    width: 150px;
  }

}


/**
 * Mobile responsive design for jumbotron
 */

.r-tabs {
  margin: 0 20px 28px;
  border-bottom: 1px solid #ddd;
}

.r-item {
  display: inline-block;
  position: relative;
  top: 1px;
  color: #999;
  font-weight: 500;
  margin: 0 5px;
  padding: 8px;
}

.r-item:hover {
  color: #000;
}

.r-item:hover, .r-item:focus {
  text-decoration: none;
}

.r-item.approve.active {
  color: #2FA543;
  border-bottom: 2px solid #2FA543;
}

.r-item.disapprove.active {
  color: #D92D24;
  border-bottom: 2px solid #D92D24;
}

@media screen and (max-width: 768px) {

  .main-menu.navbar {
    height: auto;
  }

  .main-menu .slogan {
    display: none;
  }

  .navbar-default .navbar-toggle {
    border: none;
    margin-top: 7px;
  }

  .navbar-default .navbar-brand {
    padding-top: 7px;
  }

  #head_politician {
    background-color: #f9f9f9;
  }

  #head_politician * {
    text-shadow: none !important;
    color: #999;
  }

  #head_politician > .container {
    padding: 0;
  }

  #head_politician .container_text_banner {
    padding: 20px;
  }

  .cabecera_1_banner {
    margin-top: 5px;
  }

  .cabecera_1_banner, .cabecera_3_banner {
    font-weight: 500;
    line-height: 13px;
    font-size: 12px;
  }
  #head_politician .cabecera_2_banner {
    color: #222;
    font-size: 20px;;
    line-height: 1.6;
  }

  #head_politician .politician-bio-and-job .nav.nav-tabs li.active {
    border-bottom: 2px solid #000;
  }
  #head_politician .politician-bio-and-job .nav.nav-tabs li.active a {
    color: #000;
  }
  #head_politician .politician-bio-and-job .nav.nav-tabs li a {
    color: #999;
  }

  .approval-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 4em;
    text-align: center;
  }

  .emotion-icons {
    margin: 20px auto;
  }

  a.poll_btn_circle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #09499D;
  }

  a.poll_btn_circle:hover {
    background-color: #09499D;
  }

  .share-your-opinion-b {
    width: auto;
    text-align: center;
  }

  .title-approve-disapprove.tab-approve .heading-disapprove,
  .title-approve-disapprove.tab-disapprove .heading-approve {
    display: none;
  }

  .contenedor_articulos.tab-approve .review-disapprove,
  .contenedor_articulos.tab-disapprove .review-approve {
    display: none;
  }

  .contenedor_articulos {
    margin-left: 20px;
    margin-right: 20px;
  }

  .title-approve-disapprove .content_title {
    display: none;
  }

  .btn-see-more,
  .btn-see-more-primary {
    width: 90%;
    margin: 20px auto;
    float: none !important;
  }


}

@media screen and (min-width: 768px) {
  .r-tabs,
  .container_text_banner .avatar-image {
    display: none;
  }

}
